[Unit]
Description=SpotDrain, Nomad Spot Instance Notification and Eviction Daemon
After=nomad.service

[Service]
Environment=SPOTDRAIN_NOMAD_TOKEN=
Environment=DD_CLIENT_APP_KEY=
Environment=DD_CLIENT_API_KEY=
ExecStart=/opt/spotdrain/bin/spotdrain
Restart=on-failure

[Install]
WantedBy=multi-user.target